{% extends "base.html" %}

{% block content %}

	<!-- portfilio single -->
    <section class="portfilio-single set-bg" style="background-image: url('../static/img/tomSneak.png');">
        <div class="sp-container">
            <div class="portfolio-single-content text-white">
            
				<h2 style="color:lightgrey">Animation & Modeling</h2>
				<p>My reel of animation-related projects (both 3D and 2D), as well as storyboarding concepts and render experiments. All 3D modeling and animation is done in Maya/Blender, and 2D animations are done in Adobe Animate.</p>
				<p>I'm still in the process of learning 3D animation/modeling, so this page will be frequently updated!</p>
				<p>Use the following links to jump to specific parts of the page!</p>
			   <a href="#3d" style="display:inline-block;"> <button style= "color:white;font-size:18pt;background-color:rgb(38, 38, 102); border-radius:25px">3D ANIMATION</button>    </a>
			   <a href="#2d" style="display:inline-block;"><button style="color:white;font-size:18pt;background-color:rgb(38, 38, 102); border-radius:25px">2D ANIMATION</button>    </a>
			   <a href="#story" style="display:inline-block;"><button style= "color:white; font-size:18pt;background-color:rgb(38, 38, 102); border-radius:25px">STORYBOARDING</button>    </a>
			   <a href="#render" style="display:inline-block;"><button style="color:white;font-size:18pt;background-color:rgb(38, 38, 102); border-radius:25px">RENDERING</button></a>
               
            </div>
            <br><br><br><br><br>
		
		</div>
		
		
	</section>
	<br>
	<a id="3d"></a>
	<div class=container1>
		
		<h2 style="color:darkgray;text-align:center">3D ANIMATION</h2><br>


		<div class=row>
		
			<div style="display: flex;
			flex-direction: column;">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/zNJxJAMblo4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						
				<h3 style="color:white;">Character Animation Demo Reel</h3>
						<p>Jan - Aug 2020</p>	
			</div>
			
		
		
	</div>
	<br><br>
	<a id="2d"></a>
	<div class=container1>
		
		<h2 style="color:darkgray;text-align:center">2D ANIMATION</h2><br>

		<div class=row>
		
		
		<div class=content>
			<img src="../static/img/anim/targetAcq.gif" alt="" width=225px height=225px>
			<h3 style="color:white;">Target Acquired</h3>
			<p>Fall 2019</p>
		</div>
		
		<div class=content>
			<img src="../static/img/anim/robotohorse.gif" alt="" width=225px height=225px>
			<h3 style="color:white;">Roboto Horse</h3>
			<p>Spring 2019</p>
		</div>
		<div class=content>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/FMQhTX01cJs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			<h3 style="color:white;">Class of 2018</h3>
					<p>Spring 2018</p>	
		</div>
		<div class=content>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/3WevWr-Dup0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			<h3 style="color:white;">Shifting Gears</h3>
					<p>Summer 2016</p>
		</div>
	</div>
	<br><br>
	<a id="story"></a>
	<div class=container1>
		
		<h2 style="color:darkgray;text-align:center">STORYBOARDING</h2><br>

		<div class=row>
			<div class=content>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/_Jtp2uDXbqY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				<h3 style="color:white;">'Caffeine' Storyboard</h3>
						<p>Spring 2020 | Assisted with Screenwriting</p>	
			</div>
		<div class=content>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/ckUgzrnMLO8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			<h3 style="color:white;">'Ninjas' Storyboard</h3>
					<p>Spring 2020</p>	
		</div>
		
	</div>
	<br><br>
	<a id="render"></a>
	<div class=container1>
		
		<h2 style="color:darkgray;text-align:center">RENDERING</h2><br>
		

		<div class=row>
		<div class=content>
			<img src="../static/img/tomSneak.png" alt="" height=225px>
			<h3 style="color:white;">Sneaky Tom</h3>
			<p>Fall 2020 | Maya</p>
		</div>
		
		<div class=content>
			<img src="../static/img/anim/Exam Season.png" alt="" height=225px>
			<h3 style="color:white;">Exam Season</h3>
			<p>Fall 2018 | Blender</p>
		</div>
		<div class=content>
			<img src="../static/img/anim/Meditation.jpg" alt="" height=225px>
			<h3 style="color:white;">Meditation</h3>
			<p>Fall 2018 | Blender</p>
		</div>
		
	</div>

		</divcl>
		<br><br><br>
    
    
	<!-- Portfolio single end -->
    
{% endblock %}