<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="../static/css/style.css"/>
<style>
    p {
        font-size: 18px;
        color: lightgrey;
        padding-left: 10px;
    }
</style>
<script>
    document.documentElement.style.backgroundColor = "rgb(22, 22, 22)";
</script>
<html>
    <body>
        <img src='../static/img/code/audiofile.PNG' alt='' width=900px>
        <p>Final editor view</p>
        <br>
        <img src='../static/img/code/audiologin.png' alt='' width=900px>
        <img src='../static/img/code/audioreg.png' alt='' width=900px>
        <p>Login and register pages</p>
        <img src='../static/img/code/audiovis.png' alt='' width=900px>
        <p>Audio visualizer and trim editing</p>
    </body>
</html>