{% extends "base.html" %}

	{% block content %}

	<!-- portfilio single -->
    <section class="portfilio-single set-bg" style="height:600px; background-image: url('../static/img/handcode.jpg');">
        <div class="sp-container">
            <div class="portfolio-single-content text-white">
            
				<h2>Code Projects</h2>
				<p>Here is a comprehensive list of the various programming-related projects I've worked on, either individually or as part of a team. Most of these projects were done as part of courses at Carnegie Mellon University, or for specific hackathons. </p>
				<p>The tools and technologies used to implement each project have also been listed in their descriptions.</p>
				<p>Click on the project title to learn more information about the project and visit the project's demo page!</p>
               
            </div>
		</div>
		
		<div class="cite">
			<p>Image courtesy of PixelsTalk.</p>
   
		</div>

	</section>
	<!-- Portfolio single end -->
    <div class=container1>
	<div class="row"> 
		<div class="column"> 
			<div class="content"> 
				<div class="crop">
					<a href="http://cmuems.com/2019/60212/vingu/12/04/final/"> <img src= 
"{{ url_for('static', filename='img/portfolio-single/Jojoaradv.jpg') }}"
					alt=""> </a>
				</div>
				<h3> 
					<a href="http://cmuems.com/2019/60212/vingu/12/04/final/">JoJo's AR Adventure</a> 
				</h3> 
				<p> 
					Fall 2019 | AR Pose-Tracking & Animation<br>


Implemented with PoseNet, Blender, Mixamo, and p5.js.
<br>

Created at Carnegie Mellon (course 60-212).
				</p> 
			</div> 
		</div> 
		  
		<div class="column"> 
			<div class="content"> 
				<div class="crop">
					<a href="http://cmuems.com/2019/60212/sansal/10/30/sansal-situatedeye/"> <img src= 
"{{ url_for('static', filename='img/portfolio-single/Spinvaders.jpg')}}"
					alt=""> </a>
				</div>
				<h3> 
					<a href="http://cmuems.com/2019/60212/sansal/10/30/sansal-situatedeye/">Space Invaders: WL</a> 
				</h3> 
				  
				<p> 
					Fall 2019 | ML Hand Tracking Alt. Input <br>
					Implemented with p5.js & ml5.js. <br>
					<br>Created at Carnegie Mellon (course 60-212).
				</p> 
			</div> 
		</div> 
		  
		<div class="column"> 
			<div class="content"> 
				<div class="crop">
					<a href="http://cmuems.com/2019/60212/sansal/10/16/sansal-telematic/"> <img src= 
"{{ url_for('static', filename='img/portfolio-single/Harmonize.jpg')}}"
					alt=""> </a>
				</div> 
				<h3> 
					<a href="http://cmuems.com/2019/60212/sansal/10/16/sansal-telematic/">Harmonize</a> 
				</h3> 
				  
				<p> 
					Fall 2019 | Telematic Co-op Music Player <br>
					Implemented with Glitch.com, socket.io, & p5.js. <br>
					Created at Carnegie Mellon (course 60-212).
				</p> 
			</div> 
		</div> 
		  
		<div class="column"> 
			<div class="content"> 
				<div class="crop">
					<a href="http://cmuems.com/2019/60212/sansal/09/25/sansal-body/"> <img src= 
"{{ url_for('static', filename='img/portfolio-single/Matrixmoji.jpg')}}"
					alt=""> </a>
					</div> 
				<h3> 
					<a href="http://cmuems.com/2019/60212/sansal/09/25/sansal-body/">MatrixMoji</a> 
				</h3> 
				  
				<p> 
					Fall 2019 | Face-Tracking 'Matrix-Animoji' <br>
					Implemented with p5.js, WEBGL & handsfree.js (BRFv4). <br>
					Created at Carnegie Mellon (course 60-212).
				</p> 
			</div> 
		</div> 
	</div>
	<div class="row">
		<div class="column"> 
			<div class="content"> 
				<div class="crop">
					<a href="https://devpost.com/software/inspectar"> <img src= 
"{{ url_for('static', filename='img/portfolio-single/inspectfin.jpg')}}"
					alt=""> </a>
					</div> 
				<h3> 
					<a href="https://devpost.com/software/inspectar">InspectAR</a> 
				</h3> 
				  
				<p> 
					Spring 2019 | AR Device Info Display <br>
					Implemented with Firebase, Unity, Android Studio, and Vuforia AR. <br>
					Created for SteelHacks 2019.
				</p> 
			</div> 
		</div> 
		<div class="column">
			<div class="content">
			<div class="crop">
				<a href="https://devpost.com/software/clearnet-hqzjon"> <img src="{{ url_for('static', filename='img/portfolio-single/Clearnet.jpg')}}" alt=""> </a>
		    </div>
		<h3>
		<a href="https://devpost.com/software/clearnet-hqzjon">ClearNet (InterLink)</a>
		</h3>
		<p>
			Spring 2019 | Social Media Brand Analytics <br>
			Implemented with MySQL, Microsoft Azure, Javascript, HTML/CSS, & Flask.<br>
			Created for TartanHacks 2019.
		</p>
	        </div>
		</div>
		<div class="column">
			<div class="content">
			<div class="crop">
				<a href="https://github.com/sanjaysalem17/ChromaLine"> <img src="{{ url_for('static', filename='img/portfolio-single/Chrom2.jpg')}}" alt=""> </a>
		    </div>
		<h3>
		<a href="https://github.com/sanjaysalem17/ChromaLine">ChromaLine</a>
		</h3>
		<p>
			Fall 2018 | User Input-Based Art Robot <br>
			Implemented with Arduino Uno/Mega.<br><br>
			Created at Carnegie Mellon (course 60-131).
		</p>
	        </div>
		</div>
	</div>

	
 {% endblock %}
