{% extends "base.html" %}

	{% block content %}
	
	<!-- Contact Section -->
	<section class="contact-page set-bg" style="background-image: url('../static/img/contact-bg.jpg');">
		<div class="sp-container">
			<div class="row">
				<div class="col-lg-4">
					<div class="contact-text text-white">
						<h2 style="color:black">Get in touch</h2>
						<p style="color:black; font-style:oblique; font-weight:bolder">If you have any questions or concerns, please don't hesitate to reach out!</p>
						<ul style="background-color: rgba(0, 0, 0, 0.2); backdrop-filter:blur(8px); width:300px">
							<li><h6>Phone:</h6>+1 (214) 709-1194</li>
							<li><h6>Mail:</h6>sanjaysalem17@gmail.com</li>
							<li>&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;svsalem@andrew.cmu.edu</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-7 offset-lg-1">
					<iframe src="../static/img/Sanjay_Salem_Resume.pdf#toolbar=0" width="100%" height="500px">Resume</iframe>
				</div>
			</div>
		</div>
	</section>
	<!-- Contact Section end -->

	
{% endblock %}