{% extends "base.html" %}

	{% block content %}
	<!-- portfilio single -->
    <section class="portfilio-single set-bg" style="height:650px; background-image: url('../static/img/portfolio-single/xbox.jpg');">
        <div class="sp-container">
            <div class="portfolio-single-content text-white">
                 <div class="anim">
                <h2>Game Design</h2>
				</div>
				<p>Here is a list of the various game development projects I've contributed to! I focus mostly on UI art and game-related assets, such as characters, sprites, and objects, but I also dabble in some game scripting.</I></p>
				<p>I've split up the list into major contributions (where I was an integral member of the development process) and minor contributions (where I worked on only a few assets). Click on the project title to visit the game's sitepage and see a gameplay demo!</p>
				<a href="#major" style="display:inline-block;" ><button style="font-size:18pt; font-weight:bolder; background-color:rgb(168, 168, 168); border-radius:25px">MAJOR CONTRIBUTIONS</button></a>
				<p>    </p>
			    <a href="#minor" style="display:inline-block;"><button style= "font-size:18pt;font-weight:bolder;background-color:rgb(168, 168, 168); border-radius:25px">MINOR CONTRIBUTIONS</button>    </a>
			</div>
			
            
		<div class="cite">
			<p>Image courtesy of Wallpaper Cave.</p>
   
		</div>
        </div>
    </section>
    
	<!-- Portfolio single end -->
	<a id="major"></a>
    <div class=container1>
        <br>
        <h2 style="color:darkgray;text-align:center">MAJOR CONTRIBUTIONS</h2>
	<div class="row"> 
		<div class="column"> 
			<div class="content"> 
				<div class="crop1">
				<a href="https://games.ideate.cmu.edu/buggyallstars"> <img id="buggy" src= 
"../static/img/portfolio-single/buggyallstars.jfif"
					alt=""> </a>
				</div>
				<h3> 
					<a href="https://games.ideate.cmu.edu/buggyallstars">Buggy AllStars</a> 
				</h3> 
				  
				<p> 
                    Spring 2020 | WEBGL Buggy Racing Game <br>
                    Contributed character art/texturing 3D animation.<br>
                    Made with Unity/WEBGL. (CMU Buggy 100)
				</p> 
			</div> 
		</div>
		<div class="column"> 
			<div class="content"> 
				<div class="crop1">
					<a href="https://www.gamecreation.org/games/fantastical_delights"> <img src= 
"../static/img/portfolio-single/fantdel.jpg"
					alt=""> </a>
				</div> 
				<h3> 
					<a href="https://www.gamecreation.org/games/fantastical_delights">Fantastical Delights</a> 
				</h3> 
				  
				<p> 
                    Spring 2020 | VR Open-World Experience<br>
                    Contributed animal models and rigged animations.<br>
                    Made with Unreal and Oculus. (@CMUGCS)

				</p> 
			</div> 
		</div> 
		<div class="column"> 
			<div class="content"> 
				<div class="crop1">
					<a href="https://jarmo.itch.io/once-upon-a-lan"> <img src= 
"../static/img/portfolio-single/lan.jpg"
					alt=""> </a>
				</div>
				<h3> 
					<a href="https://jarmo.itch.io/once-upon-a-lan">Once Upon A LAN</a> 
				</h3> 
				<p> 
                    S2019 - S2020 | 3D Old-School Arena Combat<br>
                    Contributed 2D game, character, & object assets, and game logo.<br>
                    Made with Xenko. (for BuckWild Games)
				</p> 
			</div> 
		</div> 
		<div class="column"> 
			<div class="content"> 
				<div class="crop1">
					<a href="https://gamecreation.org/games/sync_wars"> <img src= 
"../static/img/portfolio-single/Thumbnail.png"
					alt=""> </a>
				</div>
				<h3> 
					<a href="https://gamecreation.org/games/sync_wars">Sync Wars</a> 
				</h3> 
				<p> 
                    Spring 2019 | 2.5D Co-op Turn-Based Tactics<br>
                    Contributed Old Army art, UI art, & game logo.<br>
                    Made with Unity. (@Carnegie Mellon GCS)
				</p> 
			</div> 
		</div> 
		  
		 
		  
		
	</div>
	<div class = "row">
		<div class="column"> 
			<div class="content"> 
				<div class="crop2">
					<a href="https://gamecreation.org/games/danger_dancer"> <img src= 
"../static/img/portfolio-single/DANGER_DANCER_thumbnail_1.png"
					alt=""> </a>
				</div>
				<h3> 
					<a href="https://gamecreation.org/games/danger_dancer">DANGER DANCER</a> 
				</h3> 
				  
				<p> 
                    Fall 2019 | 2D Rhythm-based Bullet Hell<br>
                    Contributed obstacle/game assets & game logo.<br>
                    Made with Unity. (@Carnegie Mellon GCS)
				</p> 
			</div> 
		</div>
		<div class="column"> 
			<div class="content"> 
				<div class="crop1">
					<a href="https://github.com/wflms20110333/Jewelists"> <img src= 
"../static/img/portfolio-single/jewelists.png"
					alt=""> </a>
				</div> 
				<h3> 
					<a href="https://github.com/wflms20110333/Jewelists">Jewelists</a> 
				</h3> 
				  
				<p> 
                    Spring 2018 | 2D Gem-Collect Battle Royale<br>
                    Contributed all game sprites/assets & game logo.<br>
                    Made with LWJGL. (Java Game Library)

				</p> 
			</div> 
		</div> 
		<div class="column"> 
			<div class="content"> 
				<div class="crop3">
					<a href="https://devpost.com/software/recycling-richard"> <img src= 
"../static/img/portfolio-single/Recy2.jpg"
					alt=""> </a>
					</div> 
				<h3> 
					<a href="https://devpost.com/software/recycling-richard">Recycling Richard</a> 
				</h3> 
				  
				<p> 
                    Spring 2018 | 2D Endless Runner<br>
                    Contributed all game sprites/assets & game logo.<br>
                    Made with Phaser.js. (@EarthXHacks 2018)
				</p> 
			</div> 
		</div> 
	</div>
	<a id="minor"></a>
    <div class=container1>
        <br>
        <h2 style="color:darkgray;text-align:center">MINOR CONTRIBUTIONS</h2>
	<div class="row"> 
		<div class="column"> 
			<div class="content"> 
				<div class="crop1">
					<a href="https://gamecreation.org/games/octave"> <img src= 
"../static/img/portfolio-single/Octavscrn.jpg"
					alt=""> </a> 
				</div>
				<h3> 
					<a href="https://gamecreation.org/games/octave">Octave</a> 
				</h3> 
				<p> 
                    Fall 2019 | 2D Rhythm-based Music Game<br>
                    Contributed game logo.<br>
                    Made with Lua. (@Carnegie Mellon GCS)
				</p> 
			</div> 
		</div> 
		  
		<div class="column"> 
			<div class="content"> 
				<div class="crop1">
					<a href="https://gamecreation.org/games/starlight"> <img src= 
"../static/img/portfolio-single/Starlight (1).jpg"
					alt=""> </a>
				</div>
				<h3> 
					<a href="https://gamecreation.org/games/starlight">Starlight</a> 
				</h3> 
				  
				<p> 
                    Spring 2019 | 2D Platformer<br>
                    Contributed UI assets & game logo.<br>
                    Made with Unity (@Carnegie Mellon GCS)
				</p> 
			</div> 
		</div> 
		  	
		   
	</div>
	

	


{% endblock %}