
{% extends "base.html" %}

	{% block content %}
		<!-- Hero section -->
		<section class="section fp-auto-height" id="hero-section">
			<div>
				<div class="hs-item set-bg" style="height: 700px; background-image: url('../static/img/space.jpg')">
					<div class="container text-white">
						
						<p class=name style="background-color:rgba(0, 0, 0, 0.25); backdrop-filter:blur(2px);">SANJAY SALEM</p>
						
						<div class="site-btn" style="background-color:rgba(0, 0, 0, 0.25); backdrop-filter:blur(8px)"><span>
							<a href="./about.html" >More About Me</a></span></div>
					</div>
				</div>
				
			</div>
			<div class="slide-num-holder" id="snh-1"></div>
			
			<div class="contact-link">
				<p style="background-color:rgba(0, 0, 0, 0.25); backdrop-filter:blur(8px)">Contact me</p>
				<a href="{{url_for('contact')}}"><img src="{{ url_for('static', filename='img/contact.jpg') }}" alt=""></a>
			</div><br>
			
		</section>
		<!-- Hero section end -->

		<div class="cite">
			<p>Photo by Billy Huynh on Unsplash</p>
		</div>
		
		
		
	
{% endblock %}
		

